<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Save together</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="~/Content/Styles/default.css" rel="stylesheet" />
    <link href="~/Content/Styles/fonts.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="header-wrapper">
        <div id="header-wrapper2">
            <div id="header" class="container">
                <div id="logo">
                    <h1>
                        @Html.ActionLink("Save together", "Index", "Home", new { area = "" })
                    </h1>
                </div>
                <div id="menu">
                    <ul>
                        @if (User.IsInRole("Administrator"))
                        {
                            <li>@Html.ActionLink("Contacts", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Contacts", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Contacts", "Contact", "Home")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Contacts", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Map of problem regions", "Map", "Home")</li>
                            <li>@Html.ActionLink("About lemurs", "About", "Home")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>

    <div id="wrapper">
        <div id="page" class="container">
            <div id="content">
                @RenderBody()
            </div>
        </div>
    </div>
   
    <div id="copyright" class="container">
        <p>&copy; @DateTime.Now.Year - Save together</p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

