<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <title>Save together</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="fb:app_id" content="1493332047394348" />
    <meta property="og:url" content="http://savetogether.azurewebsites.net" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Let`s save northern sportive lemurs" />
    <meta property="og:description" content="Northern sportive lemurs (Lepilemur septentrionalis) are one of the smallest of the Lepilemurs and have pale grey-brown backs with a darker line that runs from the head down to the tail. There is some brown around the top of the head and around their shoulders, and their undersides are grey. With both eyes facing forwards they have excellent binocular vision" />
    <meta property="og:image" content="http://savetogether.azurewebsites.net/Content/Images/logo.png" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="~/Content/Styles/default.css" rel="stylesheet" />
    <link href="~/Content/Styles/fonts.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <script>
        document.getElementsByClassName('subscribe').onclick = function () {
            FB.ui({
                method: 'share',
                display: 'popup',
                mobile_iframe: true,
                href: 'http://savetogether.azurewebsites.net/',
                quote: 'Let`s save northern sportive lemurs',
                hashtag:'#lemurs'
            }, function (response) { });
        }
    </script>
    <div id="header-wrapper">
        <div id="header-wrapper2">
            <div id="header" class="container">
                <div id="logo">
                    <h1>
                        @Html.ActionLink("Save together", "Index", "Home")
                    </h1>
                </div>
                <div id="menu">
                    <ul>
                        @if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("List of users", "Index", "Customers")</li>
                            <li>@Html.ActionLink("List of regions", "Index", "Regions")</li>
                            <li>@Html.ActionLink("List of donations", "Index", "Donations")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Contacts", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Donate", "Create", "Donations")</li>
                            <li>@Html.ActionLink("Map of problem regions", "Map", "Home")</li>
                            <li>@Html.ActionLink("About lemurs", "About", "Home")</li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>

    <div id="wrapper">
        <div id="page" class="container">
            <div id="content">
                @RenderBody()
            </div>
        </div>
    </div>
   
    <div id="copyright" class="container">
        <p>&copy; @DateTime.Now.Year - Save together</p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

