@model SaveTogether.DAL.Entities.Donation

@{
    ViewBag.Title = "Details";
}

<div>
    <h3>Details</h3>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>Name: @Html.DisplayFor(model => model.Region.Name)</dt>

        <dt>Sum: @Html.DisplayFor(model => model.Sum)</dt>

        <dt>Date: @Html.DisplayFor(model => model.OperationDateTime)</dt>

        <dt>Person: @Html.DisplayFor(model => model.Person.UserName)</dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
