@model IEnumerable<SaveTogether.DAL.Entities.Donation>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Styles/tables.css" rel="stylesheet" />

<table id="tableItem">
    <thead>
        <tr>
            <th>Region</th>
            <th>Sum</th>
            <th>Date</th>
            <th>Person</th>
            <th></th>
        </tr>
    </thead>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Region.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.UserName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {id = item.Id})
            </td>
        </tr>
    }

</table>
