@model SaveTogether.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}
<div style="margin: 0% 40% 0% 40%;">
	<div class="title" style="margin:0% 5%;" >
		<h2>Log in</h2>
	</div>
     
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
	{
        @Html.AntiForgeryToken()

        <div>
            @Html.ValidationSummary()
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
	        
			
	        <div class="form-group" style="margin: 15px;">
		        @Html.Label("Name", new { @class = "col-sm-2 control-label" })
		        <div class="col-md-10">
			        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "text", style = "width: 260px; height: 20px;" })
		        </div>
	        </div>
	        <div class="form-group" style="margin: 15px;">
		        @Html.Label("Password", new { @class = "col-sm-2 control-label" })
		        <div class="col-md-10">
			        @Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "text", style = "width: 260px; height: 20px;" })
		        </div>
	        </div>

			<button type="submit" class="icon icon-ok button" style="margin: 1em 1em 1em 4em;">Log in</button>
		</div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}